---
layout: default
title: Gist
---


<div class="gist-list">
  <div>
  {% assign tmp = "" %}
  {% assign sortedPages = site.pages | where_exp: "page", "page.layout == 'gist'" |  sort: 'title' %}
  {% for page in sortedPages %}
    {% assign firstLetter = page.title | slice: 0 | upcase %}
    {% if firstLetter != tmp %}
      </div>
  <div class="gist-group">
    <div class="gist-first-letter">
      {{ firstLetter }}
    </div>
    {% endif %}
    {% assign tmp = "" %}
    <div class="gist-item">
      <div class="gist-item-icon">
        <i class="far fa-sticky-note"></i>
      </div>
      <div class="gist-item-title">
        <a href="{{page.url}}">{{page.title}}</a>
      </div>
    </div>
    {% assign tmp = firstLetter %}
  {% endfor %}

</div>
