---
layout: default
title: Gist
---

<div class="page-info-description">
  I hear and I forget, I see and I remember. I do and I understand. &mdash;Chinese Proverb<br />
  I do and I understand, but I still forget. &mdash;me
</div>


<div class="gists-landing">
  
  <div class="gist-category">
    
    <div class="gist-list w3-row">
      <div>
        <ul>
      {% assign tmp = "" %}
      {% assign sortedPages = site.pages | where_exp: "page", "page.layout == 'gist'" |  sort: 'title' %}
      {% for page in sortedPages %}
        {% assign firstLetter = page.title | slice: 0 | upcase %}
        {% if firstLetter != tmp %}
        </ul>
      </div>
      <div style="padding: 0 20px 30px 20px; " class="w3-quarter w3-container">
        <h4 class="w3-center">{{ firstLetter }}</h4>
        <ul class="w3-ul w3-hoverable w3-small">
        {% endif %}
          <li><a href="{{page.url}}">{{page.title}}</a></li>  
        {% assign tmp = firstLetter %}
      {% endfor %}
      </ul>
    </div>
  </div>
  
</div>
