---
layout: default
title: Gist
---

<div class="container">
  <ul>
  {% assign tmp = "" %}
  {% assign sortedPages = site.pages | where_exp: "page", "page.layout == 'gist'" |  sort: 'title' %}
  {% for page in sortedPages %}
    {% assign firstLetter = page.title | slice: 0 | upcase %}
    {% if firstLetter != tmp %}
  </ul>
  <ul>
    
    <div style="margin-left:-1em;">{{ firstLetter }}</div>
    
    {% endif %}
    {% assign tmp = "" %}
    <li><a href="{{page.url}}">{{page.title}}</a></li>
    {% assign tmp = firstLetter %}
  {% endfor %}
</div>
