---
layout: default
title: Other Notes
---

<div class="container">
  <ul>
  {% assign tmp = "" %}
  {% assign sortedPages = site.pages | where_exp: "page", "page.layout == 'other_note'" | sort: 'category' %}
  {% for page in sortedPages %}
    {% assign category = page.category %}
    {% if category != tmp %}
  </ul>

  <div>{{ category }}</div>
  <ul>  
    {% endif %}
    {% assign tmp = "" %}
    <li><a href="{{page.url}}">{{page.title}}</a></li>
    {% assign tmp = category %}
  {% endfor %}
</div>
