

.gist-content{
  font-size: 14px;
}

.gist{
  padding: 10px 35px 30px 35px;
  border: thin solid #D3D3D3;
}

.gist-content>p{
  line-height: 1.65;
  -webkit-margin-before: 1.8em;
  -webkit-margin-after: 0;
}

.gist-content pre.highlight{
  -webkit-margin-before: 5px;
  padding: 4px 12px;
  background-color: #F1F1F1;
  overflow-x: scroll;
}

.gist-content code.highlighter-rouge{
  border: thin solid  #e6e6e6;
  background-color: #F1F1F1;
  color: #333333;
  padding: 1px 4px;
}

.gist-content>ul,.gist-content>ol{
  -webkit-margin-before: 5px;
  padding-left: 30px;
}

.gist-content li{
  margin-bottom: 5px;
}

.gist-content table{
   border-collapse: collapse;
   border: 1px solid black;
}
.gist-content td, .gist-content th{
  border: 1px solid black;
  padding: 2px 10px;
}



.gist-category{
  border: thin solid #C0C0C0;
  margin: 40px 0;
  padding: 20px;
}

.gist-category h3{
  margin: 0;
  padding-bottom: 10px;
  padding-left: 10px;
}

.gist-item{
  display: inline-table;
  max-width: 170px;
  margin: 10px 0 20px 0;
  /* border: thin solid red; */
}
.gist-item-icon{
  display: table-cell;
  width: 25%;
}
.gist-item-title{
  display: table-cell;
  font-size: 0.8em;
  padding-left: 5px;
  vertical-align: middle;
}
.gist-item-icon img{
  width: 100%;
}
