.gist-content{
  font-size: 14px;
}

.gist{
  padding: 10px 35px;
  border: thin solid #D3D3D3;
}

.gist-content>p{
  line-height: 1.65;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0;
}

.gist-content pre.highlight{
  -webkit-margin-before: 0;
  padding: 5px 10px;
  background-color: #F1F1F1;
  overflow-x: scroll;
}

.gist-content>ul,.gist-content>ol{
  -webkit-margin-before: 5px;
  padding-left: 30px;
}

.gist-content li{
  margin-bottom: 5px;
}

.gist-list{
  margin-top: 20px;
}

.gist-item{
  display: inline-table;
  width: 180px;
  margin-bottom: 20px;

}
.gist-item-icon{
  display: table-cell;
  width: 35%;
}
.gist-item-title{
  display: table-cell;
  font-size: 12px;
  padding-left: 10px;
  vertical-align: middle;
}
.gist-item-icon img{
  width: 100%;
}
