/*** page ******/
.page-footer{
  margin-top: 25px;
  margin-bottom: 20px;
}

.page-content{
  margin-top: 40px;
  margin-bottom: 50px;
}

.page-copyright{
  margin-top: 5px;
}

.page-links{
  margin-top: 20px;
}

.page-links a{
  padding-top: 1px;
  padding-bottom: 5px;
  padding-right: 6px;
  padding-left: 6px;
}

.page-nav a{
  text-decoration: none;
}

/*** home ******/

.home h2{
  margin: 0;
}

/*** post ******/

.post-header{
  margin-bottom: 40px;
}

.post-title{
  margin: 0;
}

.post-list{
  list-style: none;
  padding-left: 0;
}

.post-list li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-list h4{
  margin-top: 0;
  margin-bottom: 0;
}

.post-tags{
    margin-top: 40px;
    margin-bottom: 20px;
}

/** code highlight ****/

pre.highlight{
  padding: 15px 30px;
  background-color: #e6f2ff;
  overflow-x: scroll;
}

/** blockquote *****/


blockquote{
  border-left: solid 4px #C8C8C8;
  margin: 20px 0 30px 0;
  padding: 10px 20px;
  color: #909090;
}

blockquote p{
  margin: 0;
  padding: 0;
}
