/*** page ******/

.page-footer{
  margin-top: 15px;
  margin-bottom: 30px;
}

.page-content{
  margin-top: 40px;
  margin-bottom: 50px;
}

.page-links a{
  padding-top: 1px;
  padding-bottom: 5px;
  padding-right: 6px;
  padding-left: 6px;
}

.page-nav{
  margin-top: 20px;
}
.page-nav a{
  display: inline-block;
  text-decoration: none;

  padding: 6px 15px;
}

/*** home ******/



/** blockquote *****/

blockquote{
  border-left: solid 4px #C8C8C8;
  margin: 20px 0 30px 0;
  padding: 10px 20px;
  color: #909090;
}

blockquote p{
  margin: 0;
  padding: 0;
}

/*  */

.welcome{
  padding: 25px 30px;
}

.page-info{
  padding-top: 0;
  padding-bottom: 24px;
  padding-right: 18px;
  padding-left: 18px;
}
.page-info>*{
  padding-top: 24px;
}
.page-info h1, .page-info h2{
  margin: 0;
}

.page-info-description{
  font-size: 13px;
  font-style: italic;
  text-align: right;
}
