

.post-header{
  margin-bottom: 40px;
}

.post-title{
  margin-bottom: 0;
}

.post-list{
  list-style: none;
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 0;
}

.post-list li{
  margin: 0;
  padding: 20px 20px;
  border-top: thin solid #E8E8E8;
}


.post-item h4, .post-item h3{
  margin: 0;
}

.post-item-preview{
  font-size: 0.95em;
  margin: 15px 0;
}

.post-item-tags{
}

.post-tags{
  margin-top: 40px;
  margin-bottom: 20px;
}

.post-content>p{
  line-height: 1.65;
  -webkit-margin-before: 1.8em;
  -webkit-margin-after: 0;
}

.post-content>ol, .post-content>ul{
  -webkit-margin-before: 0;
}

.post-content pre.highlight{
  -webkit-margin-before: 0;
  padding: 10px 15px;
  background-color: #e6f2ff;
  overflow-x: scroll;
}

.post-nav {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.post-nav a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.post-nav .next {
  text-align: right;
}
