

.post-header{
  margin-bottom: 40px;
}

.post-title{
  margin-bottom: 0;
}

.post-list{
  list-style: none;
  padding-left: 0;
}

.post-list li{
  padding-top: 5px;
  padding-bottom: 5px;
}

.post-item >*{
  display: inline-block;

}
.post-item{
  border-bottom: thin solid #E8E8E8;
}

.post-item-date{
  margin-right: 25px;
}

.post-item-title{
  margin-right: 10px;
}


.post-tags{
    margin-top: 40px;
    margin-bottom: 20px;
}

.post-content>p{
  line-height: 1.6;
  -webkit-margin-before: 1.1em;
  -webkit-margin-after: 0;
}

.post-content>ol, .post-content>ul{
  -webkit-margin-before: 0;
}

.post-content pre.highlight{
  -webkit-margin-before: 0;
  padding: 10px 15px;
  background-color: #e6f2ff;
  overflow-x: scroll;
}

.post-nav {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.post-nav a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.post-nav .next {
  text-align: right;
}
