{% if page.comments %} 
<button id="show_disqus" class="w3-button w3-block w3-blue w3-padding-large">Show comments</button>
<div id="disqus_thread" style="display: none;"></div>
<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url | absolute_url }}';
  };

  (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();

  $("#show_disqus").click(function(){
    $("#show_disqus").hide()
    $("#disqus_thread").show(100)
  })
</script>
<noscript>
  Please enable JavaScript to view the 
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>

{% endif %}

<script id="dsq-count-scr" src="//imantung-github-io.disqus.com/count.js" async></script>
