<footer class="w3-container w3-border-top page-footer">
  <div class="w3-row">
    <div class="w3-half">
      <div class="page-links">
        <a href="mailto:iman.tung@gmail.com" class="w3-button" style="background: gray; color: white;">
          <i class="fa fa-envelope-o fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com/in/iman-tunggono/" class="w3-button" style="background: #007bb5; color: white; ">
          <i class="fa fa-linkedin fa-lg"></i>
        </a>
        <a href="https://github.com/imantung" class="w3-button" style="background: black; color: white; ">
          <i class="fa fa-github fa-lg"></i>
        </a>
      </div>
    </div>

    <div class="w3-half w3-right-align">
      <h3 class="" style="margin-bottom: 0;">
        {{ site.title }}
        <small>{{ site.tagline }}</small>
      </h3>
      <div class="w3-small">{{ site.description }} </div>
      <div class="page-copyright w3-small">
        &copy; {{ site.time | date: '%Y' }} All rights reserved.
      </div>
    </div>
  </div>
</footer>
