<footer> 
    <div>
        <div>
            &copy; 2018 - {{ site.time | date: '%Y' }} <a href="/">{{ site.title }}</a>.
            All Rights Reserved.
        </div>

        <div class="links">
            <a href="https://github.com/{{site.github_username}}"><i class="fab fa-github"></i></a>
            <a href="{{site.linkedin_link}}"><i class="fab fa-linkedin"></i></a>
            <a href="mailto:{{site.email}}" class="pl-2"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</footer>