<footer class="container pt-2 mt-4" style="border-top: solid thin #e0e0e0;"> 
    <div class="row mb-5">
        <div class="col-md-9">
            &copy; 2018 - {{ site.time | date: '%Y' }} <a href="/">{{ site.title }}</a>.
            All Rights Reserved.
        </div>

        <div class="col-md-3 text-right" style="font-size: 1.3em;">
            <a href="https://github.com/{{site.github_username}}" class="pl-2"><i class="fab fa-github"></i></a>
            <a href="{{site.linkedin_link}}" class="pl-2"><i class="fab fa-linkedin"></i></a>&nbsp;
            <a href="mailto:{{site.email}}" class="pl-2"><i class="fas fa-envelope"></i></a>
        </div>
    </div>
</footer>