<nav class="container mt-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="/" class="nav-link {% if page.url == '/' or page.layout == 'tech_gist' %}active{% endif %}">Tech Gist</a>
        </li>
        <li class="nav-item">
            <a href="/other_notes" class="nav-link {% if page.url == '/other_notes' or page.layout == 'other_note' %}active{% endif %}">Other Notes</a>
        </li>
        <li class="nav-item">
            <a href="/quotes/" class="nav-link {% if page.url == '/quotes/' %}active{% endif %}">Quotes</a>
        </li>
    </ul>
</nav>