<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div class="container text-center pb-5 pt-1">
      <div style="font-size: 5em;">
        <i class="fas fa-fish"></i>
      </div>
      
      <nav class="page-nav">
        {% for nav_item in site.nav_list %}
          <a class="{% if page.url == nav_item[1] %} w3-text-indigo w3-xlarge{% endif %} {% if forloop.index > 1 %} w3-border-left {% endif %}" href="{{ nav_item[1] }}">
            <i class="fas {{ nav_item[2] }}" aria-hidden="true"></i> 
            <span class="w3-hide-small">{{ nav_item[0] }}</span>
          </a>
        {% endfor %}
      </nav>
    </div>

    <div class="container py-2">
        {{ content }}
    </div>

    <div class="container text-center" style="padding: 5em 0 2em 0;">
      <footer class="page-footer">  
        <div class="">
          &copy; {{ site.time | date: '%Y' }} <a href="/">{{ site.title }}</a>. All rights reserved.  
        </div>
        
        <div class="mt-1" style="font-size: 1.4em;">
          <a href="https://github.com/{{site.github_username}}" class="pl-2"><i class="fab fa-github"></i></a>
          <a href="{{site.linkedin_link}}" class="pl-2"><i class="fab fa-linkedin"></i></a>&nbsp;
          <a href="mailto:{{site.email}}" class="pl-2"><i class="fas fa-envelope"></i></a>  
        </div>
      </footer>
    </div>


  </body>
</html>
