---
layout: default
title: home
---

<div class="welcome w3-light-gray w3-round-large">


  <h1>Welcome!</h1>

  <p>Hi there. My name is Iman Tunggono and right now I am working on one of the biggest startups in South East Asia where a lot of things come every day to learn. The purpose of this website is simply as my exercise to write down what I have learned and leave some trace of my work that I can follow back when needed.</p>


  <a href="https://github.com/{{site.github_username}}" class=""><i class="fa fa-github"></i></a>
  &nbsp;<a href="{{site.linkedin_link}}" class=""><i class="fa fa-linkedin"></i></a>
  &nbsp;<a href="mailto:{{site.email}}" class=""><i class="fa fa-envelope"></i></a>

</div>
