---
layout: default
---

<article class="post">
  <div class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <div class="post-date">{{ page.date | date_to_string }}</div>  
  </div>
  
  <div class="post-content">
    {{ content }}  
  </div>
  
  <div class="post-tags">
    Tags: 
    {% for tag in page.tags %}
      <span class="w3-tag w3-blue w3-tiny w3-round-small" style="padding: 1px 6px;">{{tag}}</span>
    {% endfor %}
  </div>
  
  <div class="post-comments">
    
  </div>
  {% include disqus.html %}

</article>
